body{
    background-color: rgb(204, 255, 218);
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div{
    box-sizing: border-box;
}

header{
    background-color: rgb(177, 222, 208);
    padding: 10px;
}

header h1{
    margin: 0;
    text-align: center;
}

.container{
    width:600px;
    margin:auto;
}

.post{
    background-color: aliceblue;
    margin-top: 30px;
}

img{
    width: 100%;
}

.post h2, p{
    padding: 10px;
    margin: 0;
}

.post-header div:first-child{
    display:inline-block;
    width:80%;
}

.post-header div:last-child{
    display:inline-block;
    width:20%;
    text-align: right;
    padding: 10px;
    color: grey;
}